@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #549E99, #94EBE5);
}

main{
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.384);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F0793C;
    text-align: center;
    text-shadow: 1px 2px 1px #7a3d1f46;

}

h2{
    color: #9E6244;
}
p{
    text-align: justify;
}